{% extends "base.html" %}

{% block content %}
  <section class="top">
    <div class="left">
      <img src="/public/tag_images/art.webp"/>
      <div class="section">
        <div class="main">
          <h2>Il Romanticismo</h2>
          <div class="authors">
            <div class="author">
              <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M14 14.252V22H4a8 8 0 0 1 10-7.748zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm6 4v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"/></svg>            
              Creespie
            </div>
            <div class="modifiers"> 
              <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M21 15.243v5.765a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 20.993V9h6a1 1 0 0 0 1-1V2h10.002c.551 0 .998.455.998.992v3.765l-8.999 9-.006 4.238 4.246.006L21 15.243zm.778-6.435l1.414 1.414L15.414 18l-1.416-.002.002-1.412 7.778-7.778zM3 7l5-4.997V7H3z"/></svg>
              ScratchX98, Leo007er1
            </div>
            <div class="time">
              <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M17.618 5.968l1.453-1.453 1.414 1.414-1.453 1.453a9 9 0 1 1-1.414-1.414zM11 8v6h2V8h-2zM8 1h8v2H8V1z"/></svg>
              Read: 5min
            </div>
          </div>
        </div>
        <div class="under">
          <div class="menu">
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0H24V24H0z"fill=none /><path d="M21 18v2H3v-2h18zM17.404 3.904L22 8.5l-4.596 4.596-1.414-1.414L19.172 8.5 15.99 5.318l1.414-1.414zM12 11v2H3v-2h9zm0-7v2H3V4h9z"/></svg>    
          </div>
          <div class="comments">
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M16.8 19L14 22.5 11.2 19H6a1 1 0 0 1-1-1V7.103a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1V18a1 1 0 0 1-1 1h-5.2zM2 2h17v2H3v11H1V3a1 1 0 0 1 1-1z"/></svg>
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/></svg>       
           </div>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="/public/tag_images/art.webp"/>
      <div class="details">
        <div class="like">
          <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"/></svg>
          4
        </div>
        <div class="bottom">
          <div class="detail">
            <svg class="tag" viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm2.828 8.486a2 2 0 1 0 2.828-2.829 2 2 0 0 0-2.828 2.829z"/></svg>
            <span class="tag">
              #art
            </span>
          </div>
          <div class="detail">
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M18.5 10l4.4 11h-2.155l-1.201-3h-4.09l-1.199 3h-2.154L16.5 10h2zM10 2v2h6v2h-1.968a18.222 18.222 0 0 1-3.62 6.301 14.864 14.864 0 0 0 2.336 1.707l-.751 1.878A17.015 17.015 0 0 1 9 13.725a16.676 16.676 0 0 1-6.201 3.548l-.536-1.929a14.7 14.7 0 0 0 5.327-3.042A18.078 18.078 0 0 1 4.767 8h2.24A16.032 16.032 0 0 0 9 10.877a16.165 16.165 0 0 0 2.91-4.876L2 6V4h6V2h2zm7.5 10.885L16.253 16h2.492L17.5 12.885z"/></svg>
            Italian
          </div>
          <div class="detail">
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M21 15.243v5.765a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 20.993V9h6a1 1 0 0 0 1-1V2h10.002c.551 0 .998.455.998.992v3.765l-8.999 9-.006 4.238 4.246.006L21 15.243zm.778-6.435l1.414 1.414L15.414 18l-1.416-.002.002-1.412 7.778-7.778zM3 7l5-4.997V7H3z"/></svg>
            <span>27/09/22</span>
          </div>
          <div class="detail">
            <svg viewbox="0 0 24 24"height=24 width=24 xmlns=http://www.w3.org/2000/svg><path d="M0 0h24v24H0z"fill=none /><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2zM4 9v10h16V9H4zm2 2h2v2H6v-2zm0 4h2v2H6v-2zm4-4h8v2h-8v-2zm0 4h5v2h-5v-2z"/></svg>
            <span>26/09/22</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="content">
  
  </section>
  
  <section class="comments">
    <div class="main">
    <div class="head">
      <h2>{{ $t("note.comments") }}</h2>
      <div class="new" @click="newComment = !newComment">
        <IconNewComment></IconNewComment>{{ $t("note.new") }}
      </div>
    </div>
    <NewComment @newComment="add" v-if="newComment"></NewComment>
    <div v-if="comments" class="comments-list">
      <div v-for="comment in comments" class="comment">
        <div class="top">
          <div class="author">
            <IconUser></IconUser>
            {{ comment.author === 'anon' ? $t('note.anon') : comment.author }}
          </div>
          <span class="date">{{ formatDate(comment.date) }}</span>
        </div>
        <p>{{ comment.content }}</p>
      </div>
    </div>
  </div>
  </section>
{% endblock %}

{% block head %}
<style>
.top {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: stretch;
  flex-wrap: nowrap;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 15rem;
}

.left img {
  border-radius: 10px 0px 0px 10px;
  height: 15rem;
}

.section {
  flex-grow: 1;
  background-color: var(--surface);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0px 10px 10px 0px;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.authors {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modifiers {
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
}

.right {
  display: flex;
  flex-shrink: 1;
}

.right img {
  display: none;
}

.details {
  flex-shrink: 1;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  justify-content: start;
  border-radius: 10px;
}

.bottom {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1.5rem;
  flex-shrink: 1;
}

.detail {
  opacity: 1;
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 1;
}

.tag {
  color: var(--accent);
  fill: var(--accent);
}

.comments {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.comments:hover {
  fill: var(--accent);
}

.under {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
}

.menu:hover {
  fill: var(--accent);
}

.like {
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--text);
  fill: var(--text);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.like:hover {
  fill: var(--accent);
  color: var(--accent);
}

.done {
  background-color: var(--accent);
  color: var(--background);
  fill: var(--background);
}

.done:hover {
  fill: var(--background);
  color: var(--background);
}

@media (max-width: 650px) {
  .top {
    flex-direction: column;
  }

  .bottom {
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .right {
    flex-grow: 1;
  }
}

@media (max-width: 500px) {
  .left img {
    display: none;
  }

  .section {
    border-radius: 10px;
  }

  .bottom {
    justify-content: right;
  }

  .right img {
    display: block;
    height: 15rem;
    border-radius: 10px 0px 0px 10px;
  }

  .details {
    border-radius: 0px 10px 10px 0px;
  }

  .bottom {
    flex-direction: column;
  }
}
</style>
{% endblock %}